body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
    font-family: 'Quicksand', sans-serif;
    margin: 0; 
    background-color: #f4f4f4;
    color: #000000; /* Set default text color to black */
  }
  .container, h1 {
    text-align: center;
    
    margin-bottom: 20px;
    color: #000000;
  }

  .container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    padding-bottom:2rem;
    text-align: left;
  }
 .container li {
  padding:5%;
  border-bottom:1px solid #ccc;
  
 }
  .container {
   
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    margin-top:5rem;
    margin-bottom:5rem;
    padding:2%;
    flex-direction: column;
  }
  #app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  #menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px; /* Adjust the width as needed */
  
  margin: 10px;
  background-color: #04305f; /* Button background color */
  cursor: pointer;
  text-align: center;
  padding: 13px;
  margin-bottom:0.5rem;  
  color: white;
  border: none;
  border-radius: 16px;
}
.menu-button:hover {
  background-color: #021a34a7;  /* Button hover color */
}
.containerForButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom:10%;
  border-bottom: 1px solid #ccc;
}

.description {
  align-items: center;
  text-align:center;
}
.description h2 {
  margin-bottom: 2.3rem;
  width: 95vw;
  
}

.container-fripp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    position: absolute;
    top:0;
   
    
    padding-top:10%;

  }

  .category {
    margin-bottom: 20px;
  
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    
  }
  .category label {
    padding-top:15%;
  }

  .category h4 {
    text-align: center;
  }


  textarea, select, input[type="text"] {
    width: 96%;
   padding:15px 10px;
   margin:6px 0;
    
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .down-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .down-buttons button{
    width: 60%;
    align-items: center;
    justify-content: space-around;  
    background-color: #04305f; 
    padding: 13px;
    margin-bottom:0.5rem;    
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
  }
  #save-as-pdf {
   background-color: rgba(128, 25, 25, 0.878);
  }
  .down-buttons button:hover {
    background-color: #0c38665c; ;
  }
  


  .hidden {
    display: none;
  }
  

  
  #goal-dropdowns {
    display: flex;
  padding-top: 0.3rem;;
    justify-content: center;
  }

  #kartlaggning {
    background-color: #e0f7fa;
  }
  
  #mål {

    background-color: #ffecb3;
  }

  
  #hur {
    background-color: #ffe0b2;
  }
  
  #aktiviteter {
    background-color: #c8e6c9;
  }
  
  #metoder {
    background-color: #d1c4e9;
  }
  
  #larandemiljo {
    background-color: #bbdefb;
  }
  
  #forhallningssatt {
    background-color: #ffcdd2;
  }
  
  #uppfoljning {
    background-color: #f8bbd0;
  }
  
  #utvardering {
    background-color: #b2dfdb;
  }
  
  .dropdown-container {
    margin-bottom: 20px;
    position: relative;
  }

  
  .remove-dropdown {
    display: block;
    margin: 10px auto 0;
    background-color: rgba(128, 25, 25, 0.878);
    border: none;
    cursor: pointer;
  }
  
.biblioteket-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 16px;
    position: absolute;
    height: 50vh;
    background-color: #c7c7c730;
    top:20%;
    padding-top:10%;
  }
  
  .biblioteket {
 display: flex;
 flex-direction: column;
 justify-content: center;

  }
  .biblioteket h4 {
    text-align: center;
    padding-top:5%;
  }
  .biblioteket button {
    align-items: center;
    justify-content: space-around;
    background-color: #04305f;
    padding: 13px;
    margin-bottom:0.5rem;
    
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
  }
  #saved-plans-fritids {
    list-style-type: none;
    padding: 0;
  }
  
  #saved-plans-fritids li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #plan-display {
    padding: 20px;
  }
  
  #display-content {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  